body{
    padding-bottom: 500px;
}
.flex{
    display: flex;
    background-color: #ddd;
    margin-bottom: 20px;
}
.flex-column{
    display: flex;
    background-color: #ccc;
    flex-direction: column;
    margin-bottom: 20px;
}
.flexwrap{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.box{
    height: 40px;
    width: 33%;
    border: 1px solid purple;
}